.App {
  text-align: center;
}

.App-logo {
  height: 100vmin;
  pointer-events: none;
}


.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: #117bac
  ;
}


