.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.form-input {
  margin: 5px;
  width: 50%;
  height: 30px;
  color: #117bac;
}

input::placeholder {
  font-size: medium;
  font-style: italic;
  
}

input:focus {
  border-color: #117bac;
  outline: #117bac
}

.form-button {
  background-color: #f28e37;
  color: white;
  border-radius: 16px;
  border: 1px #f28e37;
  width: 30%;
  height: 30px;
  margin: 20px;
  cursor: pointer;
}

.register-button {
  background-color: white;
  color: #f28e37;
  border: none;
  width: 30%;
  height: 30px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
}
